**/#*#
**/a.out
**.s
**.vo
**.vos
**.vio
**.vok
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
**/.merlin
*~
*.v~
*.log
*.aux
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ml~
*.gz
*.cache
*.DS_Store
*a.out
